<%= form_for(staff) do |f| %>
  <% if staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-md-4 col-md-offset-4">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field col-md-4 col-md-offset-4">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field col-md-4 col-md-offset-4">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field col-md-4 col-md-offset-4">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions col-md-2 col-md-offset-5">
    <%= f.submit %>
  </div>
<% end %>
