<p id="notice"><%= notice %></p>

<% if @staff.present? %>
<p>
  <strong>Name:</strong>
  <%= @staff.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @staff.email %>
</p>


<%= link_to 'Edit', edit_staff_path(@staff) %> |
<% end %>
<%= link_to 'Back', staffs_path %>
