<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Cc number:</strong>
  <%= @user.cc_number %>
</p>

<p>
  <strong>Reviews Made (<%= @reviews.length %>):</strong>
   <% if @user.reviews.length > 0 %>
     <% @reviews.each do |review| %>
      <h2><%= review.content %></h2>
    <% end %>
   <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
