<!DOCTYPE html>
<html>
  <head>
    <title>Rmonrails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <%= value %>
    </div>
    <% end %>

    <%= yield %>
  </body>

  <footer>
    <%= debug(params) if Rails.env.development? %>
  </footer>
</html>
